@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
.mot h1
{
	font-size: 20px;
	padding-top: 1%;
	
}
.mot h2
{
	font-size: 20px;
	padding-top: 1%;
}
.hai a
{
	font-size: 20px;
	color: darkgoldenrod;
}
	@media screen and (max-width: 414px)
	{.banner h1 {
		font-size: 40px;
		}
}
@media screen and (max-width: 414px)
	{.banner {
		background-color: gray;
		height: 100vh;
		}
}

.banner button
{
	height: 20%;width: 40%; margin-bottom: 20px
}
@media screen and (max-width: 414px)
	{.banner button{
		background-color: black;
		height: 20%;
		width: 50%;
		margin-left: 20%;
		margin-bottom: 10%;
		}
}
.quanhe
{
	padding-top: 100px;
}
@media screen and (max-width: 414px)
{
	.quanhe {
		padding-top: 400px;
	}
}